Package: ws.hbang.repower
Name: PowerDown Info
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome Cydia Substrate tweak!
Maintainer: Haifisch
Author: Haifisch
Section: Tweaks
Version: 0.0.1-90
Installed-Size: 316
