Package: ws.hbang.repower
Name: RePower
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: A more powerful power down screen.
Maintainer: HASHBANG Productions <fontee@hbang.ws>
Author: HASHBANG Productions <fontee@hbang.ws>
Section: Tweaks
